.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f8;
}

.auth-card {
  width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.icon-circle {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  background: #2874F0;   /* uniform blue */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.auth-card label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

.auth-card input:focus {
  border-color: #2874F0;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: none;
  background-color: #2874F0;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.primary-btn:hover {
  background-color: #1f5fd1;
}

.switch-text {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
}

.switch-text span {
  color: #2874F0;
  cursor: pointer;
  font-weight: 500;
}
